* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  user-select: none;
  font-size: 13px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(210, 46%, 95%);
}

main {
  display: flex;
  background-color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 800px;
}
/* section.one */
section.one {
  margin-right: 30px;
  overflow: hidden;
  width: 300px;
}
section.one img {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;

  height: 100%;
  width: 100%;
}
/* section.one */

/* section.two */
section.two {
  padding: 30px;
  width: 50%;
}
p.head {
  color: hsl(217, 19%, 35%);
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 10px;
}
p.normal {
  color: hsl(217, 19%, 35%);
}
p.name {
  color: hsl(217, 19%, 35%);
  font-weight: 700;
}
p.date {
  color: hsl(212, 23%, 69%);
}
div.person {
  margin-top: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.person-chiled {
  padding-left: 50px;
}
.pho-preson {
  left: 0;
  position: absolute;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/* Share */
.Share {
  padding: 10px;
  height: 15px;
  width: 15px;
  font-size: 10px;
  background-color: #ecf2f8;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.Share:hover img {
  filter: brightness(0) invert(1) !important;
  -webkit-filter: brightness(0) invert(1) !important;
}
.Share:hover {
  background-color: hsl(217, 19%, 35%) !important;
}
/* Share */
/* Share_span */
.Share_span {
  position: absolute;
  display: none;
  right: -105px;
  top: -85px;
  gap: 20px;
  color: hsl(210, 46%, 95%);
  text-transform: uppercase;
  letter-spacing: 5px;
  /* padding: 15px 30px; */

  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;

  border-radius: 10px;
  background-color: hsl(217, 19%, 35%);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.Share_span::after {
  content: "";
  position: absolute;
  bottom: -23px;
  right: 109px;
  height: 0;
  width: 0px;
  border: 12px solid;
  border-color: hsl(217, 19%, 35%) transparent transparent transparent;
}
.Share_span img {
  cursor: pointer;
}
/* Share_span */

/* section.two */
@media (max-width: 1000px) and (min-width: 752px) {
  main {
    width: 600px !important;
  }
}

@media screen and (max-width: 752px) {
  body {
    padding: 0 10px;
  }
  main {
    width: 300px;
    flex-direction: column;
  }
  section.one img {
    border-bottom-left-radius: 0px;
    border-top-right-radius: 10px;
  }
  section.two {
    width: 300px;
    box-sizing: border-box;
  }
  .Share_span {
    /* border-radius: 0; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    right: -30px;
    top: -16px;
    width: calc(100% + 60px);
    height: 81px;
    justify-content: space-around;
  }
  .Share_span::after {
    content: "";
    border: 0;
  }
  .one1 {
    display: flex;
  }
}
.fa {
  display: flex;
  gap: 15px;
}
.one1 {
  padding: 10px;
  height: 15px;
  width: 15px;
  font-size: 10px;
  background-color: #ecf2f8;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
